body {
    margin: 0;
    color: #333;
    font: 16px sans-serif;
}

section {
    margin: 40px auto;
    width: 600px;
}

h1 {
    font-size: 32px;
}

.landing {
    background: pink;
}

.landing section {
    background: white;
}

img {
    border: none;
    border-radius: 20px;
    box-shadow: 10px red;
}
