body {
    margin: 0;
    color: #333;
    font: 16px sans-serif;
}

section {
    margin: 40px auto;
    width: 800px;
}

h1 {
    font-size: 32px;
    font-weight: normal;
}

.landing {
    background: pink;
}

.landing section {
    background: white;
}
